<h1>Listing instantiated_courses</h1>

<table>
  <tr>
    <th>Begin date</th>
    <th>End date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instantiated_courses.each do |instantiated_course| %>
  <tr>
    <td><%= instantiated_course.begin_date %></td>
    <td><%= instantiated_course.end_date %></td>
    <td><%= instantiated_course.status %></td>
    <td><%= link_to 'Show', instantiated_course %></td>
    <td><%= link_to 'Edit', edit_instantiated_course_path(instantiated_course) %></td>
    <td><%= link_to 'Destroy', instantiated_course, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instantiated course', new_instantiated_course_path %>
