<h1>Listing subscribes</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscribes.each do |subscribe| %>
  <tr>
    <td><%= subscribe.student_id %></td>
    <td><%= subscribe.product_id %></td>
    <td><%= link_to 'Show', subscribe %></td>
    <td><%= link_to 'Edit', edit_subscribe_path(subscribe) %></td>
    <td><%= link_to 'Destroy', subscribe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscribe', new_subscribe_path %>
